@import url("http://fonts.cdnfonts.com/css/gotham");
/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  padding: 0 auto;
  margin: 0;
  font-family: "gotham", sans-serif;
}
h1 {
  font-size: 6em;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 20px 0;
}

p {
  padding: 10px 0;
  font-weight: 300;
}

/* header */
header {
  background-image: url(../images/landing.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  color: white;
}

.sticky-bar {
  display: flex;
  background-color: white;
  color: black;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: ;
}
.sticky-bar img {
  width: 13%;
}
.navbar {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}
.text-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-wrapper p {
  font-size: 1.1em;
  font-weight: 100;
  letter-spacing: 1px;
}

/* section 1 */

#whats-on-spotify img {
  width: 50%;
}
#whats-on-spotify h2 {
  text-align: center;
}
#whats-on-spotify hr {
  margin: 0 520px;
  border-top: 3px solid #00b172;
}

.spotify-wrap {
  display: flex;
  justify-content: space-evenly;
}

.icons {
  display: flex;
  width: 175px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icons p {
  color: #1a1a1a;
}
/* section 3 */

#kanye {
  height: 800px;
  padding: 20px 0;
  background-color: #00b172;
  background-image: url(../images/spotify-icon-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px;
  color: white;
}

.white-logo {
  height: 100px;
}

.image-wrapper {
  display: flex;
}
.image-wrapper img {
  height: 600px;
}
.kanye-text {
  height: 70%;
  width: 400px;
  line-height: 25px;
}
.kanye-text hr {
  margin: 0 50px 0 0;
  border-bottom: 3px solid;
}
.kanye-text h3 {
  padding: 25px 0;
}
.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
